#container{
    display: flex;
    flex-wrap: wrap;
    height: 160px;
    width: 160px;
}
#container>div {
    width: 10px;
    height: 10px;
    border:solid black;
    border-width: thin;
    box-sizing: border-box;
  
}
.colors{
    background-color: pink;
}